@forward './author-card/author-card.scss';
@forward './book-info-table/book-info-table.scss';
@forward './book-price-section/book-price-section.scss';
@forward './book-reviews-section/book-reviews-section.scss';
@forward './rating/rating.scss';